{% extends 'layout/layout.html' %} 
{% load static %}
{% block block_content %}

<main class="main-root">
    <div id="dsn-scrollbar">
        <header>
            <div class="header-hero header-hero-2 ">
                <div class="container h-100">
                    <div class="row align-items-center h-100">
                        <div class="col-lg-12">
                            <div class="contenet-hero">
                                <h3>IMAME MOUHAMMADOU SAXIIR GAYE</h3>
                                <h3><span style="color: #9A8630;">De Njàmbur à Tànk:</span></h3>
                                <a href="#about_text" class="view-case scroll-down scroll-to"><img
                                        src="{% static 'assets/img/arrow-right-wight.png' %}" alt=""></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <div class="wrapper">
            <div class="root-about">
                <div class="box-seat box-seat-full">
                    <div class="container-fluid">
                        <div class="inner-img" data-dsn-grid="move-up">
                            <img src="{% static 'assets/img/image/about_img2.jpg' %}" alt="" data-dsn-y="30%" data-dsn-scale="1">
                        </div>
                        <div class="pro-text">
                            <h3 data-dsn-animate="up">JEREJEF IMAME SAXIIR <br></h3>
                            <p data-dsn-animate="up" style="text-align: justify;">D'avoir été ce Pédagogue, ce Poete, cette Plume, ce chantre, cet Érudit, ce leader, ce Pacificateur, ce Rassemebleur, cet équilibriste, ce Visionnaire, cet Innovateur, ce Maitre, ce Mentor, ce Modéle, cette inspiration, cette Providence, et cette Bénédiction du Ciel 
                            </p>
                        </div>
                    </div>
                </div>

                <section class="intro-about section-margin section-padding hidden">
                    <div class="mask-bg"></div>
                    <div class="container">
                        <div class="row align-items-center h-100">
                            <div class="col-lg-6">
                                <div class="box-im">
                                    <div class="cover-bg" data-image-src="{% static 'assets/img/skills.jpg' %}"></div>
                                </div>
                            </div>
                            <div class="col-lg-5 offset-lg-1">
                                <div class="small-title">
                                    <span class="counter">01</span>
                                    <h5>About Us</h5>
                                </div>

                                <div class="content">
                                    <h5>Speaking of employee happiness -</h5>
                                    <h3>Our two goals are employee happiness and client happiness</h3>
                                    <p>We won the Best Workplace award from Great Place to Work 3 times in Finland,
                                        and
                                        once in all of
                                        Europe.</p>

                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <!--<section class="our-services section-margin">
                    <div class="container">
                        <div class="one-title" data-dsn-animate="up">
                            <div class="title-sub-container">
                                <p class="title-sub">OUR SERVCIES</p>
                            </div>
                            <h2 class="title-main">New Branding Agency</h2>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="services-item">
                                    <div class="line-before"></div>
                                    <h4 class="subtitle">Brand Identity</h4>
                                    <p>As Vintage decided to have a closer look into fast-paced New York web design
                                        realm in person, we get to acquaint with most diverse and exceptionally
                                        captivating personalities. </p>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="services-item">
                                    <div class="line-before"></div>
                                    <h4 class="subtitle">Brand Identity</h4>
                                    <p>As Vintage decided to have a closer look into fast-paced New York web design
                                        realm in person, we get to acquaint with most diverse and exceptionally
                                        captivating personalities. </p>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="services-item">
                                    <div class="line-before"></div>
                                    <h4 class="subtitle">Brand Identity</h4>
                                    <p>As Vintage decided to have a closer look into fast-paced New York web design
                                        realm in person, we get to acquaint with most diverse and exceptionally
                                        captivating personalities. </p>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="services-item">
                                    <div class="line-before"></div>
                                    <h4 class="subtitle">Brand Identity</h4>
                                    <p>As Vintage decided to have a closer look into fast-paced New York web design
                                        realm in person, we get to acquaint with most diverse and exceptionally
                                        captivating personalities. </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>-->
                
                <section id="about_text" class="our-services section-margin">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-2"></div>
                            <div class="col-md-8">
                                    <h3><span style="color: #9A8630;">De Njàmbur à Tànk:</span></h3>
                                    <h5 class="text-center" style="text-align: justify;text-family: italic;"><br>
                                    <br>" Djibril je te confie l’école coranique, je vais du côté de l’ouest pour m'enquérir de la situation de celui qui prétend être un Messager d'Allah" tels étaient les propos qu’avaient tenu Cheikh Abdou gaye à son jeune frère Djibril Gaye.
                                    Tafsir Abdou Gaye était un savant invétéré, très proche de Dieu et un des premiers lieutenants de Seydina Limamou aleyhi salam. Cheikh le qualifiait en ces termes : l'ami du Saint Maître, son gendre et détenteur de son Secret. 
                                    Leur mère s’appelait Seynabou Fall et leur père  Momar Sina Gaye, tous issus d’un village qui s’appelle Dieumuy Gaye depuis Louga.
                                    Mame Abdou GAYE avait une école coranique comme il était de sa tradition ancestrale.<br><br>
                                    Quand Seydina Limamou lança l’appel, il appela son frère Cheikh Djibril Gaye et lui parla de l’appel et décida d’aller voir ce qu’il en était et lui confia l’école coranique. Tafsir Abdou Gaye pris le chemin vers L’ouest, l’extrême ouest des pays africains, dans le village de Yoff.
                                    Dès son arrivée, crut en Seydina Limamou aleyhi salam et ce dernier lui accepta son allégeance, il lui fit confiance, et lui donna une place proche de lui ce qui fit de lui un des secrétaires et lieutenants de Seydina Limamou aleyhi salam.<br><br>
                                    Tafsir Djibril Gaye après une longe absence de son frère convoqua les élèves de l’école coranique et leur informa de la fermeture de cette dernière, quand la question lui fit posée du pourquoi de sa décision, Il répondit que son frère  Abdou Seynabou n’a pas donné de nouvelles et il avait décidé à son tour d’aller le retrouver.
                                    Une fois à Yoff, Tafsir Djibril a son tour crut en Seydina Limamou, lui prêta également allégeance, et dès sa première rencontre avec Seydina Limamou il se rappela la vision qu’il eut à l’âge de 7 ans, une vision ou Allah azawajal lui avait montré la main du prophète aleyhi salam, ainsi il s’établit également avec son frère chez Seydina Limamou aleyhi salam.<br>
                                    Un homme du nom de  Demba Lo de Niomré, emprunta la même démarche que Tafsir Abdou Gaye des qu’il entendit l’appel de Seydina Limamou. Son frere Alassane Lo  decidat de le suivre sauf qu’il preta allégeance à distance de par son frère Demba Lo.Un jour la maladie de sa fille Farmata Lo longuement malade l’emmena à voyager pour aller retrouver SEYDINA Limamou afin qu’il la guérisse.<br> Cela se fit, dès que Seydina Limamou aleyhi salam pria pour elle, elle se rétablit, et ainsi son père  la laissa rester vivre aux cotes de Seydina Limamou aleyhi salam , et la donna comme épouse à Cheikh Djibril Mame Farmata Lo.<br>
                                    Yeumbeul, un billage riche d’histoires.<br>Les historiens nous racontent c’est en 1700 qu’un homme du nom de Moussa Anta le mit en place.Yeumbeul était un village fort convoité et riche à tous les niveaux, et il était le seul village qui à l’unanimité répondit à l’appel de Seydina Limamou.Yeumbeul était gorgé des plus grands savants et compagnons de Seydina Limamou paix et salut sur lui  comme Cheikh Makhtar Lo, qui est l’auteur de la biographie de Seydina Limamou sous la direction de Seydina Issa Rohou Laahi fils ainé de Seydina Limamou (paix et salut sur eux).<br>
                                    Yeumbeul était un village où la quête de la science était de rigueur. Cheikh Djibril au-delà de son savoir était un agriculteur, et pour acquérir des terres et s’adonner à sa passion d’agriculture, il s’émigra à Niacourab. Afin de toujours profiter de la science de Cheikh Djibril les habitants commencèrent à déserter Yeumbeul pour Niacourab. Par peur que le village disparaisse de par l’émigration de ses habitants, Seydina Limamou dut demander à Cheikh Djibril de revenir à la demande du chef de village de Yeumbeul.
                                    Cheikh Djibril est le père de l’Imam Mouhamadou Sakhir Gaye.<br><br>
                                    Momar Khary Diop était le chef de village de Yeumbeul , il disait, qu’il n’habitera nulle part sans Cheikh Djibril.
                                    Imam Mouhamadou Sakhir est né à Yeumbeul , sa mère s’appelait Mame Farmata Lo .La marraine de Imam Sakhir était Mame ALASSANE Ndiaye, la femme de Seydina Limamou, qui l’accompagna durant toute sa jeunesse et le surnomma Mouhamed Sakhir (Junior) car il avait un de ses grands frères qui portait le même nom.<br>
                                    Avant ses 30 ans, Mouhamadou Sakhir avait déjà commencé ses proses et ecrivait beaucoup de textes religieux après avoir modernisé l’école coranique de son père.
                                    IL écrivait beaucoup surtout pour vulgariser les enseignements de Seydina Limamou,  et c’était un excellent orateur religieux.<br><br>
                                    Un jour il raconta un de ses rêves qui était , qu’un jour Allah azawajal lui a montré Elh Hadj Malick Sy qui avait un livre, et lui demandait d’analyser un mot, il lui avait retorqué qu’il ne savait pas vu sa syntaxe, Elh Malick lui confia que ce mot qu’il lui demandait était la mère des noms suprêmes d’Allah et referma le livre ; Quand Imam Sakhir le , et quand il racontait cela , Serigne BABACAR Sy était présent et dit que personne n’était au-dessus de lui (son père) au niveau de la science, que Seul Le Très Haut savait mesurer l’étendue de sa science.
                                    Imam Sakhir raconte toujours que dès le réveil,  il prit la route vers Tivaouane, et raconta à Serigne Babacar sy le rêve, et confirma la véracité des propos du rêve, et ainsi le mit en rapport avec Serigne Mansour et cheikh Tidiane.
                                    Imam Sakhir disait qu’il savait qu’il aura une plume aigue à cause de ses rêves prémonitoires.<br><br>
                                    Mame Babacar Laye lui disait également que Lui seul pouvait tout lui demander car il lui faisait animer également les nuits religieuses. Le quotidien consistait à la recherche de la science, à écrire par rapport à cela et animer des nuits religieuses.
                                    A ses 30 ANS, Seydina Mame Alassane laye nous a confié également pendant un ziare à Yeumbeul en 1994 que quand Seydina Mandione décida de faire de Imam Mouhamadou Sakhir un Moukhadam,  il avait appelé tous ses fils et leur confia la charge de lui apporter la charge de Mouhadam en lui disant que lui Imam Sakhir  portait désormais les mêmes charges que Lui Seydina Mandione, ce qui était exceptionnel et unique.<br>
                                    En 1959 son père cheikh Djibril mourût, et 3 ans après, accompagné de Seydina Mame Alassane ils partirent  à la Mecque , un voyage qui fut pleins d’événements miraculeux.
                                    En 1965 Imam Sakhir demanda la permission à son père spirituel Mame Babacar laye fils de Seydina Limamou paix et salut sur lui la permission d’aller acquérir la science au Maroc.<br>
                                    Mouhamadou Sakhir, est né Chez Cheikh Djibril et c’était une école coranique, c’est son père qui a été son premier maitre, et surtout pour la jurisprudence islamique.
                                    Cheikh Djibril témoignait souvent de l’étonnement concernant  cet enfant qui aimait tant jeuner, et la solitude et le silence en la personne d’Imam Sakhir Gaye et disait souvent qu’il devait avoir une prédestinée spéciale pour être ainsi.
                                    Quand il était jeune, il aidait beaucoup sa mère sur ses taches ménagères, et aidait son père dans ses travaux d’agriculteur même si il n’était pas l’ainé de son père.
                                    Mouhamed Sakhir , ses compagnons disait qu’il était précoce en maturité et avait un sens de la responsabilité hors pair, et ils racontaient que quand ils s’amusaient à cueillir des fruits ou autres des autres champs voisins, MOUHAMED Sakhir n’était jamais de la partie, et disait tout le temps qu’il jeunait pour ne pas manger de l’illicite. Il était très vite averti et avait un zéle sans faille en matière de pratique de sa foi. Il avait également fréquenté beaucoup d’autres maitres en matière de science, et faisait de lui toujours le premier en la matière parmi sa génération.
                                    Il remerciait tout le temps Allah en lui témoignant sa gratitude de cet amour qu’il vouait à tout savant islamique.<br><br>
                                    Il vécut ainsi , intègre, et maintenu son zèle dans les prescriptions divines ce qui lui donna un caractère et une personnalité digne des gens pieux.
                                    </h5>
                            </div>
                            <div class="col-md-2"></div>
                        </div>
                    </div>
                </section>

            <section class="our-work work-under-header  section-margin" data-dsn-col="3">
                <div class="container">
                </div>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-9 offset-lg-3">
                            <div class="work-container">
                                <div class="slick-slider">
                                    <div class="work-item slick-slide">
                                        <img class="has-top-bottom" src="{% static 'assets/img/image/gallery/5.jpg' %}" alt="">
                                        <div class="item-border"></div>
                                        <div class="item-info">

                                        </div>
                                    </div>

                                    <div class="work-item slick-slide">
                                        <img class="has-top-bottom" src="{% static 'assets/img/image/gallery/2.jpg' %}" alt="">
                                        <div class="item-border"></div>
                                        <div class="item-info">

                                        </div>
                                    </div>

                                    <div class="work-item slick-slide">
                                        <img class="has-top-bottom" src="{% static 'assets/img/image/gallery/3.jpg' %}" alt="">
                                        <div class="item-border"></div>
                                        <div class="item-info">

                                        </div>
                                    </div>

                                    <div class="work-item slick-slide">
                                        <img class="has-top-bottom" src="{% static 'assets/img/image/gallery/6.jpg' %}" alt="">
                                        <div class="item-border"></div>
                                        <div class="item-info">

                                        </div>
                                    </div>
                                    <div class="work-item slick-slide">
                                        <img class="has-top-bottom" src="{% static 'assets/img/image/gallery/selected/1.jpg' %}" alt="">
                                        <div class="item-border"></div>
                                        <div class="item-info">

                                        </div>
                                    </div>

                                    <div class="work-item slick-slide">
                                        <img class="has-top-bottom" src="{% static 'assets/img/image/gallery/selected/2.jpg' %}" alt="">
                                        <div class="item-border"></div>
                                        <div class="item-info">

                                        </div>
                                    </div>
                                    <div class="work-item slick-slide">
                                        <img class="has-top-bottom" src="{% static 'assets/img/image/gallery/selected/3.jpg' %}" alt="">
                                        <div class="item-border"></div>
                                        <div class="item-info">

                                        </div>
                                    </div>
                                    <div class="work-item slick-slide">
                                        <img class="has-top-bottom" src="{% static 'assets/img/image/gallery/selected/4.jpg' %}" alt="">
                                        <div class="item-border"></div>
                                        <div class="item-info">

                                        </div>
                                    </div>
                                    <div class="work-item slick-slide">
                                        <img class="has-top-bottom" src="{% static 'assets/img/image/gallery/selected/5.jpg' %}" alt="">
                                        <div class="item-border"></div>
                                        <div class="item-info">

                                        </div>
                                    </div>
                                </div>
                                <h5 style="text-align: center;"><div class="link-custom" data-dsn-animate="up">
                                    <a class="image-zoom effect-ajax" href="gallery.html" data-dsn="parallax">
                                        <span>Voir plus</span>
                                    </a>
                                </div></h5>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

                <!--<section class="our-client section-margin">
                    <div class="container">
                        <div class="one-title" data-dsn-animate="up">
                            <div class="title-sub-container">
                                <p class="title-sub"> Client see</p>
                            </div>
                            <h2 class="title-main">Feedback from our clients.</h2>
                        </div>

                        <div class="client-curs">
                            <div class="client-item">
                                <div>
                                    <p>
                                        Dave & his team at Blacksmith Agency were incredible partners
                                        at a critical time for our company. Day in & day out, they
                                        were there for us every step of the way delivering results for
                                        us & our high profile corporate partner.
                                    </p>
                                    <h5>Brandon Barbello</h5>
                                    <span>Vivalnk Inc | Google IO</span>
                                </div>
                            </div>

                            <div class="client-item">
                                <div>
                                    <p>
                                        Dave & his team at Blacksmith Agency were incredible partners
                                        at a critical time for our company. Day in & day out, they
                                        were there for us every step of the way delivering results for
                                        us & our high profile corporate partner.
                                    </p>
                                    <h5>Brandon Barbello</h5>
                                    <span>Vivalnk Inc | Google IO</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <section class="brand-client section-margin">
                    <div class="container">
                        <div class="one-title" data-dsn-animate="up">
                            <div class="title-sub-container">
                                <p class="title-sub">Our clients</p>
                            </div>
                            <h2 class="title-main">Your successful, our reputation</h2>
                        </div>

                        <div class="wapper-client">
                            <div class="logo-box">
                                <img src="{% static 'assets/img/logo/1.png' %}" alt="">

                                <div class="info">
                                    <div class="content">
                                        <div class="icon">
                                            <i class="fas fa-plus"></i>
                                        </div>

                                        <div class="entry">
                                            <div>
                                                <h5>Google</h5>
                                                <a href="#">www.google.com</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="logo-box">
                                <img src="{% static 'assets/img/logo/2.png' %}" alt="">

                                <div class="info">
                                    <div class="content">
                                        <div class="icon">
                                            <i class="fas fa-plus"></i>
                                        </div>

                                        <div class="entry">
                                            <div>
                                                <h5>Google</h5>
                                                <a href="#">www.google.com</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="logo-box">
                                <img src="{% static 'assets/img/logo/3.png' %}" alt="">

                                <div class="info">
                                    <div class="content">
                                        <div class="icon">
                                            <i class="fas fa-plus"></i>
                                        </div>

                                        <div class="entry">
                                            <div>
                                                <h5>Google</h5>
                                                <a href="#">www.google.com</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="logo-box">
                                <img src="{% static 'assets/img/logo/4.png' %}" alt="">

                                <div class="info">
                                    <div class="content">
                                        <div class="icon">
                                            <i class="fas fa-plus"></i>
                                        </div>

                                        <div class="entry">
                                            <div>
                                                <h5>Google</h5>
                                                <a href="#">www.google.com</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="logo-box">
                                <img src="{% static 'assets/img/logo/5.png' %}" alt="">

                                <div class="info">
                                    <div class="content">
                                        <div class="icon">
                                            <i class="fas fa-plus"></i>
                                        </div>

                                        <div class="entry">
                                            <div>
                                                <h5>Google</h5>
                                                <a href="#">www.google.com</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="logo-box">
                                <img src="{% static 'assets/img/logo/6.png' %}" alt="">

                                <div class="info">
                                    <div class="content">
                                        <div class="icon">
                                            <i class="fas fa-plus"></i>
                                        </div>

                                        <div class="entry">
                                            <div>
                                                <h5>Google</h5>
                                                <a href="#">www.google.com</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

            </div>

            <section class="contact-up section-margin section-padding">
                <div class="container">
                    <div class="c-wapp">
                        <a href="contact.html" class="effect-ajax">
                            <span class="hiring">
                                We are hiring
                            </span>
                            <span class="career">
                                Dare and contact us immediately!
                            </span>
                        </a>
                    </div>
                </div>
            </section>-->
        <footer class="footer">
            <div class="container">
                <div class="footer-links p-relative">
                    <div class="row">
                        <div class="col-md-3 dsn-col-footer">
                            <div class="footer-block">

                                <div class="footer-social">

                                    <ul>
                                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a href="#"><i class="fab fa-behance"></i></a></li>
                                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>

                                    </ul>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="copyright">
                    <div class="text-center">
                        <p>© <a href="www.aloulayeaw.com">ALOULAYEAW</a> 2021</p>
                        <div class="copright-text over-hidden"> <a class="link-hover"
                                data-hover-text="DSN Grid" href="#" target="_blank"></a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        </div>
    </div>

</main>




{% endblock %}