{% extends 'layout/layout.html' %} 
{% load static %}
{% block block_content %}

<main class="main-root">
    <div id="dsn-scrollbar">
        <header>
            <div class="headefr-fexid" data-dsn-header="project">
                <div class="bg" id="dsn-hero-parallax-img" data-dsn-ajax="img">
                    <div class="bg-image  cover-bg" data-overlay="0"
                       data-image-src="{% static 'assets/img/image/about_img.jpg' %}"></div>
                </div>

                <div class="scroll" data-dsn-animate="ajax">
                    <span class="background"></span>
                    <span class="triangle"></span>
                </div>
                <div class="project-title" id="dsn-hero-parallax-title">

                    <div class="title-text-header">
                        <div class="cat">
                            <span>20 ANS DÉJA IMAME</span>
                        </div>
                        <span class="title-text-header-inner">
                            <span data-dsn-animate="ajax"></span>
                        </span>
                    </div>
                    <div class="sub-text-header" data-dsn-animate="ajax">
                        <h5></h5>
                        <span></span>
                    </div>
                </div>

                <div class="project-page__inner">
                    <div class="h-100">
                        <div class="row justify-content-center align-items-end h-100">
                            <div id="descover-holder" class="col-lg-12 project-meta__content">
                                <div class="link">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <div class="wrapper">
            <div class="root-project">

                <div class="container intro-project section-margin">
                    <div class="intro-text text-center">
                        <div class="title-cover" data-dsn-grid="move-section" data-dsn-opacity="0.1"
                            data-dsn-duration="170%" data-dsn-move="0%">
                            Watch
                        </div>
                        <div class="inner">
                            <h2 data-dsn-animate="text" style="font-size: 13px;">Le 20ème anniversaire du rappel à Dieu de Imam Sakhir Gaye RTA,</h2> <span style="color: #9A8630;font-size: 17px;"><br>20 ANS DÉJA IMAAM</span>
                        </div>
                    </div>
                </div>
            
            <div class="container" style="margin-top: -85px;">
                    <div class="row">
                        <div class="col-md-3"></div>
                        <div class="col-md-6">
                            <h5 class="font-italic" style="text-align: justify; font-family: 'Playfair Display';font-style: italic;font-size:18px;"><span style="color: #9A8630;font-size: 18px;">Imam,</span> 
                                Il ya 20 ans jour pour jour tu nous quittas. Depuis ce jour nous n'avons jamais cessé de pleurer celui qui fut:
                                notre Maître Spirituel,
                                notre Mentor,
                                notre Imam,
                                notre refuge,
                                et notre Ami.

                                <br>Imam Sakhir, 20 ans après jour pour jour,
                                L'humanité, la Oummah Islamique, la communauté Ahloulahi, le Sénégal et Yeumbeul te disent Jërëjëf.

                                 <br><br> <span style="color: #9A8630;font-size: 18px;">Jërëjëf Imaam Saxiir</span>, 
                                d'avoir été ce Pédagogue, ce Poète, cette Plume, ce Chantre, cet Erudit, ce Leader, ce Pacificateur, ce Rassembleur, ce Visionnaire, cet Innovateur, ce Maître, ce Mentor, ce Modèle, cette Référence, cette idole, cet héros, cette inspiration, cette Providence, et cette Bénédiction du Ciel. de nous avoir servi toute votre vie durant.

                                 <br><br><span style="color: #9A8630;font-size: 18px;">Jërëjëf Imaam Saxiir</span> d'avoir été, 
                                un temple du savoir, de piété et de chasteté.
                                un grand défenseur de l'union des cœurs, de la cohésion et du vivre ensemble.
                                l'héritier qui a sauvegardé le patrimoine immatériel du Mahdi et de ses compagnons.
                                un exemple parfait de l'équilibre et du juste-milieu.
                                et une refuge des égarés, des démunis et des assoiffés du savoir.

                                 <br><br><span style="color: #9A8630;font-size: 18px;">Jërëjëf Imam Sakhir</span>,
                                En toi l'islam a connu un Grand Érudit, 
                                l'humanité une référence inégalée 
                                la communauté Layene un leader incontestable, 
                                le Sénégal un citoyen modèle,
                                et Yeumbeul le meilleur des fils prodigues qu'il a jamais eu à enfanté.

                                 <br><br>
                                <span style="color: #9A8630;font-size: 18px;text-align: center;">Merci </span> pour l'humanité,<br>
                                <span style="color: #9A8630;font-size: 18px;text-align: center;">Merci </span> pour l'Islam<br>
                                <span style="color: #9A8630;font-size: 18px;text-align: center;">Merci </span> pour le soufisme<br> 
                                <span style="color: #9A8630;font-size: 18px;text-align: center;">Merci </span> pour la Communauté Ahloulahi<br>
                                <span style="color: #9A8630;font-size: 18px;text-align: center;">Merci </span> pour le Sénégal<br>
                                <span style="color: #9A8630;font-size: 18px;text-align: center;">Merci </span> pour la science<br>
                                <span style="color: #9A8630;font-size: 18px;text-align: center;">Merci </span> pour la culture<br>
                                <span style="color: #9A8630;font-size: 18px;text-align: center;">Merci </span> pour la noblesse du caractère<br>
                                <span style="color: #9A8630;font-size: 18px;text-align: center;">Merci </span> pour la jeunesse<br>
                                <span style="color: #9A8630;font-size: 18px;text-align: center;">Merci </span> pour Yeumbeul.<br>

                                 <br><br>Nous t'avons pleuré 20 ans durant, désormais nous te chanterons et te porterons dans notre cœur.

                                 <br><br><span style="color: #9A8630;font-size: 15px;">Jërëjëf Imam Sakhir</span>! 
                                Dëgg dëgg yaay sunu xol.
                            </h5>
                        </div>
                        <div class="col-md-3"></div>
                    </div>
                     <br> <br>
                </div>

                 <br> <br> <br>

                <div class="container">
                    <div class="row">
                        <div class="col-md-3">
                        </div>
                        <div class="col-md-6">
                            <iframe  width="370" height="315" src="https://www.youtube.com/embed/ToGT6DX1jE0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                        <div class="col-md-3">
                            
                        </div>
                    </div>
                </div>

                <div class="container" style="margin-top: 25px;">
                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-8">
                            <h4 data-dsn-animate="text" style="font-size: 18px;">Les Projets du 20ème anniversaire du Rappel à Dieu d'Imam Mouhamadou Sakhir gaye</h4>
                            <h5 class="font-italic" style="text-align: justify; font-family: 'Playfair Display';font-size:17px;">
                            <br><br>
                                1-Site Web pour regrouper son œuvre et celle de sa relève <span style="color: #9A8630;font-size: 17px;text-align: center;">www.imamsakhir.org</span> la phase une contenant le Tafsir, les Sermons, les ouvrages.<br><br>
                                2-Affichage public des effigies d'Imam Sakhir avec des accroches tirées de son enseignement. 30 à 50 panneaux dans la région de Dkr avec une concentration en ville et les communes layenes.<br><br>
                                3-Traduction des poèmes d'Imam Sakhir en Français avec possibilité d'en faire une version audio<br><br>
                                4-Traduction et édition de des ouvrages ( les correspondances d'Imam Sakhir édité déjà en Arabe) et (Tazkiratul Jamaa a)<br><br>
                                5-Une série de Lives mensuels à partir du mois de Juin à Décembre 2021 sera organisée autour de la vie et l'œuvre d'Imam Sakhir<br><br>
                                6-La réfection de la bibliothèque Imam Sakhir: <br> <span style="font-style: italic;padding-left: 03px;">Une bibliothèque communautaire porte le nom d'Imam Sakhir. Elle est abritée par l'école Cheikh Djibril au cœur de Yeumbeul. 
                                La dimension est de 15m x 3.80m. On y trouve des livres en Arabe, Français et Anglais. L'aménagement d'un espace numérique et d'un espace de travail et d'échange nous permettra
                                 d'en faire un lieu de capacitation et d'inspiration pour les jeunes de Yeumbeul ou le
                                  culte de l'excellence sera le seul état d'esprit. Ce sera également un espace où les Yeumbeulis qui ont fait la fierté du village pourront rencontrer leurs petits frères pour leur montrer le chemin.</span><br><br>
                                7-Un film documentaire autour de la vie et l'œuvre d'Imam Sakhir<br><br>
                                8-Conférence Nationale sur le Leadership d'Imam Sakhir<br><br>
                                9-Journée Imam Sakhir Gaye, 4ème édition <br><br>
                                le 11 Décembre 2021. Le parrain: <span style="font-size: 17px; color: silver;">Serigne Fallou Mbacke</span>

                            </ul></h5>
                        </div>
                        <div class="col-md-2"></div>
                    </div>
                     <br> <br>
                </div>
                
                <h5 data-dsn-animate="text" style="text-align: center; font-size: 15px;">Le 20éme anniversaire de l'Imaam en images</h5>
                <div class="gallery-portfolio section-margin" style="margin-top: 10px;">
                    <a class="link-pop" href="{% static 'assets/img/image/img/1.jpg' %}"
                        data-source="{% static 'assets/img/image/img/1.jpg' %}">
                        <img src="{% static 'assets/img/image/img/1.jpg' %}" alt="">
                        <div class="cap">
                            <span>20 Déja ans Imame Sakhir</span>
                        </div>
                    </a>

                    <a class="link-pop" href="{% static 'assets/img/image/img/2.jpg' %}"
                        data-source="{% static 'assets/img/image/img/2.jpg' %}">
                        <img src="{% static 'assets/img/image/img/2.jpg' %}" alt="">
                        <div class="cap">
                            <span>20 Déja ans Imame Sakhir</span>
                        </div>
                    </a>

                    <a class="link-pop" href="{% static 'assets/img/image/img/3.jpg' %}"
                        data-source="{% static 'assets/img/image/img/3.jpg' %}">
                        <img src="{% static 'assets/img/image/img/3.jpg' %}" alt="">
                        <div class="cap">
                            <span>20 Déja ans Imame Sakhir</span>
                        </div>
                    </a>

                    <a class="link-pop" href="{% static 'assets/img/image/img/4.jpg' %}"
                        data-source="{% static 'assets/img/image/img/4.jpg' %}">
                        <img src="{% static 'assets/img/image/img/4.jpg' %}" alt="">
                        <div class="cap">
                            <span>20 Déja ans Imame Sakhir</span>
                        </div>
                    </a>

                    <a class="link-pop" href="{% static 'assets/img/image/img/5.jpg' %}"
                        data-source="{% static 'assets/img/image/img/5.jpg' %}">
                        <img src="{% static 'assets/img/image/img/5.jpg' %}" alt="">
                        <div class="cap">
                            <span>20 Déja ans Imame Sakhir</span>
                        </div>
                    </a>

                    <a class="link-pop" href="{% static 'assets/img/image/img/6.jpg' %}"
                        data-source="{% static 'assets/img/image/img/6.jpg' %}">
                        <img src="{% static 'assets/img/image/img/6.jpg' %}" alt="">
                        <div class="cap">
                            <span>20 Déja ans Imame Sakhir</span>
                        </div>
                    </a>

                    <a class="link-pop" href="{% static 'assets/img/image/img/7.jpg' %}"
                        data-source="{% static 'assets/img/image/img/7.jpg' %}">
                        <img src="{% static 'assets/img/image/img/7.jpg' %}" alt="">
                        <div class="cap">
                            <span>20 Déja ans Imame Sakhir</span>
                        </div>
                    </a>


                    <a class="link-pop" href="{% static 'assets/img/image/img/8.jpg' %}"
                        data-source="{% static 'assets/img/image/img/8.jpg' %}">
                        <img src="{% static 'assets/img/image/img/8.jpg' %}" alt="">
                        <div class="cap">
                            <span>20 Déja ans Imame Sakhir</span>
                        </div>
                    </a>

                    <a class="link-pop" href="{% static 'assets/img/image/img/9.jpg' %}"
                        data-source="{% static 'assets/img/image/img/9.jpg' %}">
                        <img src="{% static 'assets/img/image/img/9.jpg' %}" alt="">
                        <div class="cap">
                            <span>20 Déja ans Imame Sakhir</span>
                        </div>
                    </a>

                    <a class="link-pop" href="{% static 'assets/img/image/img/10.jpg' %}"
                        data-source="{% static 'assets/img/image/img/10.jpg' %}">
                        <img src="{% static 'assets/img/image/img/10.jpg' %}" alt="">
                        <div class="cap">
                            <span>20 Déja ans Imame Sakhir</span>
                        </div>
                    </a>

                    <a class="link-pop" href="{% static 'assets/img/image/img/11.jpg' %}"
                        data-source="{% static 'assets/img/image/img/11.jpg' %}">
                        <img src="{% static 'assets/img/image/img/11.jpg' %}" alt="">
                        <div class="cap">
                            <span>20 Déja ans Imame Sakhir</span>
                        </div>
                    </a>

                    <a class="link-pop" href="{% static 'assets/img/image/img/12.jpg' %}"
                        data-source="{% static 'assets/img/image/img/12.jpg' %}">
                        <img src="{% static 'assets/img/image/img/12.jpg' %}" alt="">
                        <div class="cap">
                            <span>20 Déja ans Imame Sakhir</span>
                        </div>
                    </a>

                    <a class="link-pop" href="{% static 'assets/img/image/img/13.jpg' %}"
                        data-source="{% static 'assets/img/image/img/13.jpg' %}">
                        <img src="{% static 'assets/img/image/img/13.jpg' %}" alt="">
                        <div class="cap">
                            <span>20 Déja ans Imame Sakhir</span>
                        </div>
                    </a>

                    <a class="link-pop" href="{% static 'assets/img/image/img/14.jpg' %}"
                        data-source="{% static 'assets/img/image/img/14.jpg' %}">
                        <img src="{% static 'assets/img/image/img/14.jpg' %}" alt="">
                        <div class="cap">
                            <span>20 Déja ans Imame Sakhir</span>
                        </div>
                    </a>

                    <a class="link-pop" href="{% static 'assets/img/image/img/15.jpg' %}"
                        data-source="{% static 'assets/img/image/img/15.jpg' %}">
                        <img src="{% static 'assets/img/image/img/15.jpg' %}" alt="">
                        <div class="cap">
                            <span>20 Déja ans Imame Sakhir</span>
                        </div>
                    </a>
                    <a class="link-pop" href="{% static 'assets/img/image/img/16.jpg' %}"
                        data-source="{% static 'assets/img/image/img/16.jpg' %}">
                        <img src="{% static 'assets/img/image/img/16.jpg' %}" alt="">
                        <div class="cap">
                            <span>20 Déja ans Imame Sakhir</span>
                        </div>
                    </a>
                    <a class="link-pop" href="{% static 'assets/img/image/img/17.jpg' %}"
                        data-source="{% static 'assets/img/image/img/17.jpg' %}">
                        <img src="{% static 'assets/img/image/img/17.jpg' %}" alt="">
                        <div class="cap">
                            <span>20 Déja ans Imame Sakhir</span>
                        </div>
                    </a>
                    <a class="link-pop" href="{% static 'assets/img/image/img/18.jpg' %}"
                        data-source="{% static 'assets/img/image/img/18.jpg' %}">
                        <img src="{% static 'assets/img/image/img/18.jpg' %}" alt="">
                        <div class="cap">
                            <span>20 Déja ans Imame Sakhir</span>
                        </div>
                    </a>

                    <a class="link-pop" href="{% static 'assets/img/image/img/19.jpg' %}"
                        data-source="{% static 'assets/img/image/img/19.jpg' %}">
                        <img src="{% static 'assets/img/image/img/19.jpg' %}" alt="">
                        <div class="cap">
                            <span>20 Déja ans Imame Sakhir</span>
                        </div>
                    </a>
                    <a class="link-pop" href="{% static 'assets/img/image/img/20.jpg' %}"
                        data-source="{% static 'assets/img/image/img/20.jpg' %}">
                        <img src="{% static 'assets/img/image/img/20.jpg' %}" alt="">
                        <div class="cap">
                            <span>20 Déja ans Imame Sakhir</span>
                        </div>
                    </a>
                    <a class="link-pop" href="{% static 'assets/img/image/img/21.jpg' %}"
                        data-source="{% static 'assets/img/image/img/21.jpg' %}">
                        <img src="{% static 'assets/img/image/img/21.jpg' %}" alt="">
                        <div class="cap">
                            <span>20 Déja ans Imame Sakhir</span>
                        </div>
                    </a>
                    <a class="link-pop" href="{% static 'assets/img/image/img/22.jpg' %}"
                        data-source="{% static 'assets/img/image/img/22.jpg' %}">
                        <img src="{% static 'assets/img/image/img/22.jpg' %}" alt="">
                        <div class="cap">
                            <span>20 Déja ans Imame Sakhir</span>
                        </div>
                    </a>
                    <a class="link-pop" href="{% static 'assets/img/image/img/23.jpg' %}"
                        data-source="{% static 'assets/img/image/img/23.jpg' %}">
                        <img src="{% static 'assets/img/image/img/23.jpg' %}" alt="">
                        <div class="cap">
                            <span>20 Déja ans Imame Sakhir</span>
                        </div>
                    </a>
                    <a class="link-pop" href="{% static 'assets/img/image/img/24.jpg' %}"
                        data-source="{% static 'assets/img/image/img/24.jpg' %}">
                        <img src="{% static 'assets/img/image/img/24.jpg' %}" alt="">
                        <div class="cap">
                            <span>20 Déja ans Imame Sakhir</span>
                        </div>
                    </a>

                </div>

        </div>
    </div>
</main>





{% endblock %}