{% extends 'layout/layout.html' %} 
{% load static %}
{% block block_content %}

<main class="main-root">
    <div id="dsn-scrollbar">
        <div class="dsn-slider" data-dsn-header="project">
            <div class="dsn-root-slider" id="dsn-hero-parallax-img">
                <div class="slide-inner">
                    <div class="swiper-wrapper">
                        <div class="slide-item swiper-slide">
                            <div class="slide-content">
                                <div class="slide-content-inner">
                                    <div class="project-metas">
                                        <div class="project-meta-box project-work cat">
                                            <span>Imaam Saxiir</span>
                                        </div>
                                    </div>

                                    <div class="title-text-header">
                                        <div class="title-text-header-inner">
                                                <h2 style="text-transform: uppercase;">Jërëjëf Imaam Saxiir</h2>
                                        </div>
                                    </div>
                                  <div class="">
                                  </div>
                                  <div class="col-md-12">
                                    <p class="h3" style="text-align: justify; font-size: 15px;">D'avoir été ce Pédagogue, ce Poète, cette Plume, ce Chantre, cet Erudit, ce Leader, ce Pacificateur, ce Rassembleur, ce Visionnaire, cet Innovateur, ce Maître, ce Mentor, ce Modèle, cette Référence, cet idole, cet héros, cette inspiration, cette Providence, et cette Bénédiction du Ciel.</p>
                                 </div>
                                </div>
                            </div>
                            <div class="image-container">
                                <div class="image-bg cover-bg" data-image-src="{% static 'assets/img/image/gallery/selected/slide1.jpg' %}"
                                    data-overlay="0">
                                    <img src="{% static 'assets/img/image/gallery/8.jpg' %}" alt="">
                                    <span></span>
                                </div>
                            </div>
                        </div>

                        <div class="slide-item swiper-slide">
                            <div class="slide-content">
                                <div class="slide-content-inner">
                                    <div class="project-metas">
                                        <div class="project-meta-box project-work cat">
                                            <span></span>
                                        </div>
                                    </div>

                                    <div class="title-text-header">
                                        <div class="title-text-header-inner">
                                            <a href="project-4.html" class="effect-ajax" data-dsn-ajax="slider">
                                                
                                            </a>
                                        </div>
                                    </div>

                                    <p></p>

                                    <div class="link-custom">
                                        <a href="project-4.html" class="image-zoom effect-ajax" data-dsn="parallax"
                                            data-dsn-ajax="slider">
                                            <span></span>
                                        </a>
                                    </div>

                                </div>
                            </div>
                            <!--<div class="image-container">
                                <div class="image-bg cover-bg" data-image-src="{% static 'assets/img/image/gallery/selected/slide1.jpg' %}"
                                    data-overlay="4">
                                    <img src="{% static 'assets/img/image/slide1.jpg' %}" alt="">
                                </div>
                            </div>-->
                        </div>

                        <div class="slide-item swiper-slide">
                            <div class="slide-content">
                                <div class="slide-content-inner">
                                    <div class="project-metas">
                                        <div class="project-meta-box project-work cat">
                                            <span></span>
                                        </div>
                                    </div>

                                    <div class="title-text-header">
                                        <div class="title-text-header-inner">
                                            <a href="project-3.html" class="effect-ajax" data-dsn-ajax="slider">
                                                
                                            </a>
                                        </div>
                                    </div>

                                    <p></p>

                                    <div class="link-custom">
                                        <a href="project-3.html" class="image-zoom effect-ajax" data-dsn="parallax"
                                            data-dsn-ajax="slider">
                                            <span></span>
                                        </a>
                                    </div>

                                </div>
                            </div>
                            <div class="image-container">
                                <div class="image-bg cover-bg" data-image-src="{% static 'assets/img/image/gallery/8.jpg' %}"
                                    data-overlay="0">
                                    <img src="{% static 'assets/img/image/gallery/8.jpg' %}" alt="">
                                </div>
                            </div>
                        </div>

                        <div class="slide-item swiper-slide">
                            <div class="slide-content">
                                <div class="slide-content-inner">
                                    <div class="project-metas">
                                        <div class="project-meta-box project-work cat">
                                            <span></span>
                                        </div>
                                    </div>

                                    <div class="title-text-header">
                                        <div class="title-text-header-inner">
                                            <a href="project-8.html" class="effect-ajax" data-dsn-ajax="slider">
                                                
                                            </a>
                                        </div>
                                    </div>

                                    <p></p>

                                    <div class="link-custom">
                                        <a href="project-8.html" class="image-zoom effect-ajax" data-dsn="parallax"
                                            data-dsn-ajax="slider">
                                            <span></span>
                                        </a>
                                    </div>

                                </div>
                            </div>

                            <!--<div class="image-container">
                                <div class="image-bg cover-bg" data-image-src="{% static 'assets/img/image/gallery/selected/slide1.jpg' %}"
                                    data-overlay="2">
                                    <img src="{% static 'assets/img/image/slide1.jpg' %}" alt="">
                                </div>

                            </div>-->
                        </div>

                    </div>
                </div>
            </div>

            <div class="dsn-slider-content"></div>


            <div class="nav-slider">
                <div class="swiper-wrapper" role="navigation">
                    <div class="swiper-slide">
                        <div class="image-container">
                            <div class="image-bg cover-bg" data-image-src="{% static 'assets/img/image/gallery/selected/slide1.jpg' %}"
                                data-overlay="2">
                            </div>
                        </div>
                        <div class="content">
                            <p></p>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="image-container">
                            <div class="image-bg cover-bg" data-image-src="{% static 'assets/img/image/gallery/selected/slide1.jpg' %}"
                                data-overlay="2">
                            </div>
                        </div>
                        <div class="content">
                            <p>02</p>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="image-container">
                            <div class="image-bg cover-bg" data-image-src="{% static 'assets/img/image/gallery/selected/slide1.jpg' %}"
                                data-overlay="2">
                            </div>
                        </div>
                        <div class="content">
                            <p>03</p>
                        </div>
                    </div>
                </div>
            </div>

            <section class="footer-slid" id="descover-holder">
                <div class="main-social">
                    <div class="social-icon">
                        <div class="social-btn">
                            <div class="svg-wrapper">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 23.3 23.2">
                                    <path
                                        d="M19.4 15.5c-1.2 0-2.4.6-3.1 1.7L7.8 12v-.7l8.5-5.1c.7 1 1.9 1.6 3.1 1.6 2.1 0 3.9-1.7 3.9-3.9S21.6 0 19.4 0s-3.9 1.7-3.9 3.9v.4L7 9.3c-1.3-1.7-3.7-2-5.4-.8s-2.1 3.7-.8 5.4c.7 1 1.9 1.6 3.1 1.6s2.4-.6 3.1-1.6l8.5 5v.4c0 2.1 1.7 3.9 3.9 3.9s3.9-1.7 3.9-3.9c0-2.1-1.7-3.8-3.9-3.8zm0-13.6c1.1 0 1.9.9 1.9 1.9s-.9 1.9-1.9 1.9-1.9-.7-1.9-1.8.8-2 1.9-2zM3.9 13.6c-1.1 0-1.9-.9-1.9-1.9s.9-1.9 1.9-1.9 1.9.9 1.9 1.9-.8 1.9-1.9 1.9zm15.5 7.8c-1.1 0-1.9-.9-1.9-1.9s.9-1.9 1.9-1.9 1.9.9 1.9 1.9-.8 1.8-1.9 1.9z">
                                    </path>
                                </svg>
                            </div>
                        </div>
                    </div>
                    <ul class="social-network">
                        <li>
                            <a href="#">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fab fa-instagram"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fab fa-linkedin-in"></i>
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="control-num">
                    <span class="sup active">01</span>
                </div>
                <div class="control-nav">
                    <div class="prev-container" data-dsn="parallax">
                        <svg viewBox="0 0 40 40">
                            <path class="path circle" d="M20,2A18,18,0,1,1,2,20,18,18,0,0,1,20,2"></path>
                            <polyline class="path" points="14.6 17.45 20 22.85 25.4 17.45"></polyline>
                        </svg>
                    </div>

                    <div class="next-container" data-dsn="parallax">
                        <svg viewBox="0 0 40 40">
                            <path class="path circle" d="M20,2A18,18,0,1,1,2,20,18,18,0,0,1,20,2"></path>
                            <polyline class="path" points="14.6 17.45 20 22.85 25.4 17.45"></polyline>
                        </svg>
                    </div>
                </div>
            </section>

        </div>

        <div class="wrapper">

            <section class="intro-about section-margin">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="intro-content-text">

                                <h2 data-dsn-grid="move-section" data-dsn-move="-30" data-dsn-duration="100%"
                                    data-dsn-opacity="1.2" data-dsn-responsive="tablet">
                                    Biographie <br />
                                </h2>

                                <p data-dsn-animate="text" style="text-align: justify;"><h5><span style="color: #9A8630;">De Njàmbur à Tànk:</span></h5><br>
                            " Djibril je te confie l’école coranique, je vais du côté de l’ouest pour m'enquérir de la situation de celui qui prétend être un Messager d'Allah" tels étaient les propos qu’avaient tenu Cheikh Abdou gaye à son jeune frère Djibril Gaye.</p>
                            <div class="link-custom">
                                <a class="image-zoom effect-ajax" href="about.html" data-dsn="parallax">
                                    <span>Voir plus</span>
                                </a>
                            </div>
                            


                                <h6 data-dsn-animate="text"></h6>
                                <small data-dsn-animate="text"></small>

                                <div class="exper">
                                    <div class="numb-ex">
                                        <span class="word" data-dsn-animate="text">20</span>
                                    </div>

                                    <h4 data-dsn-animate="up">DÉJA</h4>
                                </div>
                                <div class="container">
                                    
                            </div>
                        </div>
                    </div>
                </div>
                <div class="background-mask">
                    <div class="background-mask-bg"></div>
                    <div class="img-box">
                        <div class="img-cent" data-dsn-grid="move-up">
                            <div class="img-container">
                                <img data-dsn-y="50%" src="{% static 'assets/img/image/img-about.png' %}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </section>
                            <div class="container gallery-col">
                                <h2 class="text-justify" data-dsn-animate="text" style="font-size: 15px;text-align: center;">Le 20ème anniversaire du rappel à Dieu de Imaam Saxiir Gaye RTA,</h2>
                                    <div class="row">
                                        <div class="col-md-4 section-padding">
                                            <div>
                                                <iframe width="370" height="315" src="https://www.youtube.com/embed/ToGT6DX1jE0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                            </div>
                                        </div>
                                        <div class="col-md-4 box-im section-padding">
                                            <div style='width: 330px' class="">
                                                <div class="image-zoom" data-dsn="parallax">
                                                    <a class="single-image" href="{% static 'assets/img/image/img/21.jpg' %}">
                                                        <img style='height: 315px;' src="{% static 'assets/img/image/img/21.jpg' %}" alt="">
                                                    </a>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 box-im section-padding">
                                        <h5 style='text-align: justify;'>Imam, 
                                            Il ya 20 ans jour pour jour tu nous quittas. Depuis ce jour nous n'avons jamais cessé de pleurer celui qui fut:
                                            notre Maître Spirituel,
                                            notre Mentor,
                                            notre Imam,
                                            notre refuge,
                                            et notre Ami.

                                            Imam Sakhir, 20 ans après jour pour jour,
                                            L'humanité, la Oummah Islamique, la communauté Ahloulahi, le Sénégal et Yeumbeul te disent Jërëjëf...</h5>
                                             <div class="link-custom">
                                                <a class="image-zoom effect-ajax" href="photos_imame.html" data-dsn="parallax">
                                                    <span>Voir plus</span>
                                                </a>
                                            </div>

                                        </div>
                                    </div>
                                </div>

            <!-- <section class="our-services-2 section-margin">
                <div class="container">
                    <div class="one-title" data-dsn-animate="up">
                        <div class="title-sub-container">
                            <p class="title-sub">Our Servcies</p>
                        </div>
                        <h2 class="title-main">New Branding Agency</h2>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="services-item">
                                <div class="corner corner-top"></div>
                                <div class="corner corner-bottom"></div>
                                <div class="icon">
                                    <img src="{% static 'assets/img/services/1.png' %}" alt="">
                                </div>
                                <div class="services-header">
                                    <h3>DIGITAL PRODUCTS</h3>
                                </div>
                                <p>Web design encompasses many different skills and disciplines in the production of
                                    all
                                    web.</p>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="services-item selected">
                                <div class="corner corner-top"></div>
                                <div class="corner corner-bottom"></div>
                                <div class="icon">
                                    <img src="{% static 'assets/img/services/2.png' %}" alt="">
                                </div>
                                <div class="services-header">
                                    <h3>UI-UX DESIGN</h3>
                                </div>
                                <p>Web design encompasses many different skills and disciplines in the production of
                                    all
                                    web.</p>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="services-item">
                                <div class="corner corner-top"></div>
                                <div class="corner corner-bottom"></div>
                                <div class="icon">
                                    <img src="{% static 'assets/img/services/3.png' %}" alt="">
                                </div>
                                <div class="services-header">
                                    <h3>WEB DEVELOPMENT</h3>
                                </div>
                                <p>Web design encompasses many different skills and disciplines in the production of
                                    all
                                    web.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>-->

            <div class="box-seat box-seat-full section-margin">
                <div class="container-fluid">
                    <div class="inner-img" data-dsn-grid="move-up">
                        <img data-dsn-scale="1" data-dsn-y="30%" src="{% static 'assets/img/image/slide5.png' %}" alt="">
                    </div>
                    <div class="pro-text">
                        <h3>JËRËJËF IMAAM SAXIIR</h3>
                        <p data-dsn-animate="up" style="text-align: justify;">Merci d'avoir été un temple du savoir, de piété et de chasteté.
                        Merci d'avoir été un grand défenseur de l'union des cœurs, de la cohésion et du vivre ensemble.
                        Merci d'avoir été cet héritier qui a sauvegardé le patrimoine immatériel du Mahdi et de ses compagnons.
                        Merci d'avoir été un exemple parfait de l'équilibre et du juste-milieu.
                        Merci d'avoir été le refuge des égarés, des démunis et des assoiffés du savoir. 
                            </p>
                    </div>
                </div>
            </div>

            <section class="our-work work-under-header  section-margin" data-dsn-col="3">
                <div class="container">
                </div>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-9 offset-lg-3">
                            <div class="work-container">
                                <div class="slick-slider">
                                    <div class="work-item slick-slide">
                                        <img class="has-top-bottom" src="{% static 'assets/img/image/gallery/5.jpg' %}" alt="">
                                        <div class="item-border"></div>
                                        <div class="item-info">

                                        </div>
                                    </div>

                                    <div class="work-item slick-slide">
                                        <img class="has-top-bottom" src="{% static 'assets/img/image/gallery/2.jpg' %}" alt="">
                                        <div class="item-border"></div>
                                        <div class="item-info">

                                        </div>
                                    </div>

                                    <div class="work-item slick-slide">
                                        <img class="has-top-bottom" src="{% static 'assets/img/image/gallery/3.jpg' %}" alt="">
                                        <div class="item-border"></div>
                                        <div class="item-info">

                                        </div>
                                    </div>

                                    <div class="work-item slick-slide">
                                        <img class="has-top-bottom" src="{% static 'assets/img/image/gallery/6.jpg' %}" alt="">
                                        <div class="item-border"></div>
                                        <div class="item-info">

                                        </div>
                                    </div>
                                    <div class="work-item slick-slide">
                                        <img class="has-top-bottom" src="{% static 'assets/img/image/gallery/selected/1.jpg' %}" alt="">
                                        <div class="item-border"></div>
                                        <div class="item-info">

                                        </div>
                                    </div>

                                    <div class="work-item slick-slide">
                                        <img class="has-top-bottom" src="{% static 'assets/img/image/gallery/selected/2.jpg' %}" alt="">
                                        <div class="item-border"></div>
                                        <div class="item-info">

                                        </div>
                                    </div>
                                    <div class="work-item slick-slide">
                                        <img class="has-top-bottom" src="{% static 'assets/img/image/gallery/selected/3.jpg' %}" alt="">
                                        <div class="item-border"></div>
                                        <div class="item-info">

                                        </div>
                                    </div>
                                    <div class="work-item slick-slide">
                                        <img class="has-top-bottom" src="{% static 'assets/img/image/gallery/selected/4.jpg' %}" alt="">
                                        <div class="item-border"></div>
                                        <div class="item-info">

                                        </div>
                                    </div>
                                    <div class="work-item slick-slide">
                                        <img class="has-top-bottom" src="{% static 'assets/img/image/gallery/selected/5.jpg' %}" alt="">
                                        <div class="item-border"></div>
                                        <div class="item-info">

                                        </div>
                                    </div>
                                </div>
                                <h5 style="text-align: center;"><div class="link-custom" data-dsn-animate="up">
                                    <a class="image-zoom effect-ajax" href="gallery.html" data-dsn="parallax">
                                        <span>Voir plus</span>
                                    </a>
                                </div></h5>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <div class="box-gallery-vertical section-margin section-padding" data-dsn="color">
                <div class="mask-bg"></div>
                <div class="container">
                    <div class="row align-items-center h-100">
                        <div class="col-lg-6 ">
                            <div class="box-im" data-dsn-grid="move-up">
                                <img class="has-top-bottom" src="{% static 'assets/img/image/about_img2.jpg' %}" alt=""
                                    data-dsn-move="20%">
                            </div>
                        </div>

                        <div class="col-lg-6">


                            <div class="box-info">

                                <div class="vertical-title" data-dsn-animate="up">
                                    <h2>TAFSIR</h2>
                                </div>

                                <div class="link-custom" data-dsn-animate="up">
                                    <a class="image-zoom effect-ajax" href="tafsir.html" data-dsn="parallax">
                                        <span>Voir plus</span>
                                    </a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class=" box-gallery-vertical section-margin section-padding" data-dsn="color">
                <div class="mask-bg"></div>
                <div class="container">
                    <div class="row align-items-center h-100">
                        <div class="col-lg-6 ">
                            <div class="box-im" data-dsn-grid="move-up">
                                <img class="has-top-bottom" src="{% static 'assets/img/image/gallery/18.jpg' %}" alt=""
                                    data-dsn-move="20%">
                            </div>
                        </div>

                        <div class="col-lg-6">


                            <div class="box-info">

                                <div class="vertical-title" data-dsn-animate="up">
                                    <h2>SERMONS ET CAUSERIE</h2>
                                </div>

                                <div class="link-custom" data-dsn-animate="up">
                                    <a class="image-zoom effect-ajax" href="project-9.html" data-dsn="parallax">
                                        <span>Voir plus</span>
                                    </a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <section class="our-news section-margin">
                <div class="container">
                    <div class="one-title" data-dsn-animate="up">
                        <div class="title-sub-container">
                            <p class="title-sub"></p>
                        </div>
                    </div>
                    <div class="custom-container">
                        <div class="slick-slider">
                            <div class="item-new slick-slide">
                                <div class="image" data-overlay="5">
                                    <img src="{% static 'assets/img/image/gallery/19.jpg' %}" alt="">
                                </div>
                                <div class="content">
                                    <div class="background"></div>
                                    <h5>POÉMES</h5>

                                    <div class="link-custom" data-dsn-animate="up">
                                        <a class="image-zoom effect-ajax" href="poeme.html" data-dsn="parallax">
                                            <span>Voir plus</span>
                                        </a>
                                    </div>

                                </div>
                            </div>
                            <div class="item-new slick-slide">
                                <div class="image" data-overlay="5">
                                    <img src="{% static 'assets/img/image/gallery/imam04.jpg' %}" alt="">
                                </div>
                                <div class="content">
                                    <div class="background"></div>
                                    <h5>PUBLICATIONS</h5>

                                    <div class="link-custom" data-dsn-animate="up">
                                        <a class="image-zoom effect-ajax" href="pub.html" data-dsn="parallax">
                                            <span>Voir plus</span>
                                        </a>
                                    </div>

                                </div>
                            </div>
                            <div class="item-new slick-slide">
                                <div class="image" data-overlay="5">
                                    <img src="{% static 'assets/img/image/gallery/20.jpg' %}" alt="">
                                </div>
                                <div class="content">
                                    <div class="background"></div>
                                    <h5>TÉMOIGNAGES</h5>

                                    <div class="link-custom" data-dsn-animate="up">
                                        <a class="image-zoom effect-ajax" href="temoignages.html" data-dsn="parallax">
                                            <span>Voir plus</span>
                                        </a>
                                    </div>

                                </div>
                            </div>

                            <div class="item-new slick-slide">
                                <div class="image" data-overlay="5">
                                    <img src="{% static 'assets/img/image/gallery/16.jpg' %}" alt="">
                                </div>
                                <div class="content">
                                    <div class="background"></div>
                                    <h5>BLOG</h5>

                                    <div class="link-custom" data-dsn-animate="up">
                                        <a class="image-zoom effect-ajax" href="releve.html" data-dsn="parallax">
                                            <span>Voir plus</span>
                                        </a>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </section>

        </div>

        <footer class="footer">
            <div class="container">
                <div class="footer-links p-relative">
                    <div class="row">
                        <div class="col-md-3 dsn-col-footer">
                            <div class="footer-block">

                                <div class="footer-social">

                                    <ul>
                                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a href="#"><i class="fab fa-behance"></i></a></li>
                                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>

                                    </ul>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="copyright">
                    <div class="text-center">
                        <p>© <a href="www.aloulayeaw.com">ALOULAYEAW</a> 2021</p>
                        <div class="copright-text over-hidden"> <a class="link-hover"
                                data-hover-text="DSN Grid" href="#" target="_blank"></a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</main>




{% endblock %}