{% extends 'layout/layout.html' %} 
{% load static %}
{% block block_content %}

<main class="main-root">
    <div id="dsn-scrollbar">
        <header>
            <div class="headefr-fexid" data-dsn-header="project">
                <div class="bg" id="dsn-hero-parallax-img" data-dsn-ajax="img">
                    <div class="bg-image  cover-bg" data-overlay="0"
                       data-image-src="{% static 'assets/img/image/about_img.jpg' %}"></div>
                </div>

                <div class="scroll" data-dsn-animate="ajax">
                    <span class="background"></span>
                    <span class="triangle"></span>
                </div>
                <div class="project-title" id="dsn-hero-parallax-title">

                    <div class="title-text-header">
                        <div class="cat">
                            <span>TAFSIR</span>
                        </div>
                        <span class="title-text-header-inner">
                            <span data-dsn-animate="ajax"></span>
                        </span>
                    </div>
                    <div class="sub-text-header" data-dsn-animate="ajax">
                        <h5></h5>
                        <span></span>
                    </div>
                </div>

                <div class="project-page__inner">
                    <div class="h-100">
                        <div class="row justify-content-center align-items-end h-100">
                            <div id="descover-holder" class="col-lg-12 project-meta__content">
                                <div class="link">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <div class="wrapper">
            <div class="root-project">

                <div class="container intro-project section-margin">
                    <div class="intro-text text-center">
                        <div class="title-cover" data-dsn-grid="move-section" data-dsn-opacity="0.1"
                            data-dsn-duration="170%" data-dsn-move="0%">
                            Watch
                        </div>
                        <div class="inner">
                            <h2 data-dsn-animate="text">TAFSIR</h2>
                            <p data-dsn-animate="up">Description</p>

                        </div>
                    </div>
                </div>

                <div class="container gallery-col">
                    <div class="row">
                        <div class="col-md-6 box-im section-padding">
                            <div class="image-zoom" data-dsn="parallax">
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/VBLtSmegblI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>
                        </div>
                        
                        <div class="col-md-6 box-im section-padding">
                            <div class="image-zoom" data-dsn="parallax">
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/VBLtSmegblI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-6 box-im section-padding">
                            <div class="image-zoom" data-dsn="parallax">
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/VBLtSmegblI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>
                        </div>
                        
                        <div class="col-md-6 box-im section-padding">
                            <div class="image-zoom" data-dsn="parallax">
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/VBLtSmegblI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-6 box-im section-padding">
                            <div class="image-zoom" data-dsn="parallax">
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/VBLtSmegblI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>
                        </div>
                        
                        <div class="col-md-6 box-im section-padding">
                            <div class="image-zoom" data-dsn="parallax">
                            <iframe width="100%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/1268638252&color=%23ff5500&auto_play=false&hide_related=false&show_comments=false&show_user=false&show_reposts=false&show_teaser=false&visual=true"></iframe><div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="https://soundcloud.com/imam-sakhir-gaye-laye" title="Imam Sakhir Gaye Laye" target="_blank" style="color: #cccccc; text-decoration: none;">Imam Sakhir Gaye Laye</a> · <a href="https://soundcloud.com/imam-sakhir-gaye-laye/sets/sufi-list" title="Sufi list" target="_blank" style="color: #cccccc; text-decoration: none;">Sufi list</a></div>
                            </div>
                        </div>

                    </div>
                </div>
                <footer class="footer">
                    <div class="container">
                        <div class="footer-links p-relative">
                            <div class="row">
                                <div class="col-md-3 dsn-col-footer">
                                    <div class="footer-block">

                                        <div class="footer-social">

                                            <ul>
                                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                                <li><a href="#"><i class="fab fa-behance"></i></a></li>
                                                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>

                                            </ul>

                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="copyright">
                            <div class="text-center">
                                <p>© <a href="www.aloulayeaw.com">ALOULAYEAW</a> 2021</p>
                                <div class="copright-text over-hidden"> <a class="link-hover"
                                        data-hover-text="DSN Grid" href="#" target="_blank"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </footer>
        </div>
    </div>
</main>





{% endblock %}