{% load static %}
<!-- ========== FOOTER ========== -->
            <footer class="footer">
                <div class="container">
                    <div class="footer-links p-relative">
                        <div class="row">
                            <div class="col-md-3 dsn-col-footer">
                                <div class="footer-block">

                                    <div class="footer-social">

                                        <ul>
                                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                            <li><a href="#"><i class="fab fa-behance"></i></a></li>
                                            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>

                                        </ul>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="copyright">
                        <div class="text-center">
                            <p>© <a href="www.aloulayeaw.com">ALOULAYEAW</a> 2021</p>
                            <div class="copright-text over-hidden"> <a class="link-hover"
                                    data-hover-text="DSN Grid" href="#" target="_blank"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
  
  <!-- ========== END FOOTER ========== -->